<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/mhome']"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/application']">Applications</a>
        </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/start']"><span class="fas fa-sign-out-alt active"></span> LOGIN</a>
        </li>
    </ul>
</nav>

<div class="container" style="margin-top: 5px;">
    <table class="table table-striped table-bordered">
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tbody>
            <tr>
                <td>Employee Id</td>
                <!-- <td> {{data.eid}} </td> -->
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Employee name</td>
                <!-- <td> {{data.name}} </td> -->
                <td>pranay  </td>
                <td>pranay  </td>
            </tr>
            <tr>
                <td>Employee Username</td>
                <!-- <td> {{data.uname}} </td> -->
                <td>M l pranay</td>
                <td>M l pranay</td>
            </tr>
            <tr>
                <td>Manager Id</td>
                <!-- <td> {{data.mid}} </td> -->
                <td>001</td>
                <td>001</td>
            </tr>
            <tr>
                <td>Employee Leaves</td>
                <!-- <td> {{data.leaves}} </td> -->
                <td>12</td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
</div>