      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Leave-Management-System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#">Open Requests</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
    <hr style="margin: 0;">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">My Calendar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr style="margin: 0;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-thick">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Overview</a>
          
            </div>
    </nav>


    <hr>
<!-- 
    <div class="mt-15">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="btn-group ms-auto">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    dropdown
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" >Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            
    </div>
     -->


          
   
     <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport"  content="width=600, initial-scale=1.0" />
  <meta name="theme-color" content="#000000" />
  <title>Frame 20</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700"/>
  <style>

    body, html {
      width: 50%;
      height: 50%;
      margin: 0;
      padding: 0;
      transform-origin: top right; /* Set the transform origin to the top left corner */
      transform: scale(0.8); /* Adjust the scale value as needed */
    }
    </style>
</head>
<body>
<div class="frame-20-WWZ">
  <div class="frame-17-bH7">
    <div class="item-1-XRf">
      <p class="january-SoX">January</p>
      <div class="frame-5-Zt9">
        <div class="daylabel-iFF">
          <p class="m-RvM">M</p>
          <p class="t-kSq">T</p>
          <p class="w-e2R">W</p>
          <p class="t-n8d">T</p>
          <p class="f-7wb">F</p>
          <p class="s-qsb">S</p>
          <p class="s-Aey">S</p>
        </div>
        <div class="dayvariants2024-tay">
          <div class="auto-group-svfj-e4M">
            <div class="frame-6-ZBK">
              <p class="item-1-V4y">1</p>
              <p class="item-2-Dmf">2</p>
              <p class="item-3-AS1">3</p>
              <p class="item-4-KJu">4</p>
              <p class="item-5-GV3">5</p>
              <p class="item-6-pWZ">6</p>
              <p class="item-7-Lzh">7</p>
            </div>
            <div class="frame-7-TpR">
              <p class="item-8-RFT">8</p>
              <p class="item-9-wjb">9</p>
              <p class="item-10-UDj">10</p>
              <p class="item-11-zSy">11</p>
              <p class="item-12-XSu">12</p>
              <p class="item-13-R2V">13</p>
              <p class="item-14-Z8h">14</p>
            </div>
          </div>
          <div class="frame-8-68d">
            <p class="item-15-dPT">15</p>
            <p class="item-16-n1T">16</p>
            <p class="item-17-ubs">17</p>
            <p class="item-18-TNV">18</p>
            <p class="item-19-z7X">19</p>
            <p class="item-20-Y93">20</p>
            <p class="item-21-sx1">21</p>
          </div>
          <div class="frame-9-2a1">
            <p class="item-22-N85">22</p>
            <p class="item-23-KJD">23</p>
            <p class="item-24-4mb">24</p>
            <p class="item-25-LUD">25</p>
            <p class="item-26-gny">26</p>
            <p class="item-27-S1T">27</p>
            <p class="item-28-kXw">28</p>
          </div>
          <div class="frame-10-hTB">
            <p class="item-29-42q">29</p>
            <p class="item-30-QMb">30</p>
            <p class="item-31-7G1">31</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-2-QW1">
      <p class="february-6td">February</p>
      <div class="frame-5-2nH">
        <div class="daylabel-zUD">
          <p class="m-vcm">M</p>
          <p class="t-4U5">T</p>
          <p class="w-NDs">W</p>
          <p class="t-JNR">T</p>
          <p class="f-QwF">F</p>
          <p class="s-7qf">S</p>
          <p class="s-rYM">S</p>
        </div>
        <div class="dayvariants2024-zuT">
          <div class="frame-6-MED">
            <p class="item-1-eDK">1</p>
            <p class="item-1-naR">1</p>
            <p class="item-1-LM3">1</p>
            <p class="item-2-GkV">2</p>
            <p class="item-3-Dvd">3</p>
            <p class="item-4-x7X">4</p>
          </div>
          <div class="frame-7-u2m">
            <p class="item-5-chs">5</p>
            <p class="item-6-wEM">6</p>
            <p class="item-7-UEH">7</p>
            <p class="item-8-1V7">8</p>
            <p class="item-9-9bK">9</p>
            <p class="item-10-tJ1">10</p>
            <p class="item-11-Roj">11</p>
          </div>
          <div class="frame-8-kLD">
            <p class="item-12-tBX">12</p>
            <p class="item-13-pL5">13</p>
            <p class="item-14-Mau">14</p>
            <p class="item-15-Vx1">15</p>
            <p class="item-16-3yX">16</p>
            <p class="item-17-bk9">17</p>
            <p class="item-18-LBw">18</p>
          </div>
          <div class="frame-9-shf">
            <p class="item-19-QSh">19</p>
            <p class="item-20-Mcq">20</p>
            <p class="item-21-6aR">21</p>
            <p class="item-22-SPP">22</p>
            <p class="item-23-PJd">23</p>
            <p class="item-24-gHj">24</p>
            <p class="item-25-Rm7">25</p>
          </div>
          <div class="frame-10-mpy">
            <p class="item-26-7tq">26</p>
            <p class="item-27-sND">27</p>
            <p class="item-28-R8q">28</p>
            <p class="item-29-yAM">29</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-3-HB3">
      <p class="march-QmT">March</p>
      <div class="frame-5-9yw">
        <div class="daylabel-X5P">
          <p class="m-pqB">M</p>
          <p class="t-jSM">T</p>
          <p class="w-1em">W</p>
          <p class="t-7Su">T</p>
          <p class="f-ehj">F</p>
          <p class="s-o4q">S</p>
          <p class="s-jjB">S</p>
        </div>
        <div class="dayvariants2024-guK">
          <div class="frame-6-dpZ">
            <p class="item-1-9Y1">1</p>
            <p class="item-2-5gZ">2</p>
            <p class="item-1-37b">1</p>
            <p class="item-2-ACD">2</p>
            <p class="item-3-6rZ">3</p>
          </div>
          <div class="frame-7-rKw">
            <p class="item-4-1Cq">4</p>
            <p class="item-5-jed">5</p>
            <p class="item-6-4B7">6</p>
            <p class="item-7-Azq">7</p>
            <p class="item-8-7fB">8</p>
            <p class="item-9-FmP">9</p>
            <p class="item-10-baM">10</p>
          </div>
          <div class="frame-8-weD">
            <p class="item-11-faD">11</p>
            <p class="item-12-Q21">12</p>
            <p class="item-13-LgM">13</p>
            <p class="item-14-69j">14</p>
            <p class="item-15-qd7">15</p>
            <p class="item-16-noF">16</p>
            <p class="item-17-kEH">17</p>
          </div>
          <div class="frame-9-h9X">
            <p class="item-18-D7s">18</p>
            <p class="item-19-Mzm">19</p>
            <p class="item-20-uWV">20</p>
            <p class="item-21-eys">21</p>
            <p class="item-22-PAm">22</p>
            <p class="item-23-wCH">23</p>
            <p class="item-24-Uxu">24</p>
          </div>
          <div class="frame-10-pG5">
            <p class="item-25-Aaq">25</p>
            <p class="item-26-7ky">26</p>
            <p class="item-27-fnV">27</p>
            <p class="item-28-DZ7">28</p>
            <p class="item-29-AUM">29</p>
            <p class="item-30-hUH">30</p>
            <p class="item-31-cr9">31</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-4-Xy7">
      <p class="april-fZX">April</p>
      <div class="frame-5-bi5">
        <div class="daylabel-k5B">
          <p class="m-U1B">M</p>
          <p class="t-c7P">T</p>
          <p class="w-8Ld">W</p>
          <p class="t-4k5">T</p>
          <p class="f-yMF">F</p>
          <p class="s-vGV">S</p>
          <p class="s-eCV">S</p>
        </div>
        <div class="dayvariants2024-npV">
          <div class="auto-group-or1j-87f">
            <div class="frame-6-2yj">
              <p class="item-1-NGu">1</p>
              <p class="item-2-7kH">2</p>
              <p class="item-3-Tp9">3</p>
              <p class="item-4-QzH">4</p>
              <p class="item-5-m49">5</p>
              <p class="item-6-K5f">6</p>
              <p class="item-7-e7w">7</p>
            </div>
            <div class="frame-7-njw">
              <p class="item-8-M2M">8</p>
              <p class="item-9-GQD">9</p>
              <p class="item-10-zb7">10</p>
              <p class="item-11-vjf">11</p>
              <p class="item-12-fBT">12</p>
              <p class="item-13-A8D">13</p>
              <p class="item-14-hdw">14</p>
            </div>
          </div>
          <div class="frame-8-SbX">
            <p class="item-15-yLZ">15</p>
            <p class="item-16-X7B">16</p>
            <p class="item-17-sRw">17</p>
            <p class="item-18-Dkh">18</p>
            <p class="item-19-Mc1">19</p>
            <p class="item-20-gPP">20</p>
            <p class="item-21-EQu">21</p>
          </div>
          <div class="frame-9-ajf">
            <p class="item-22-KhF">22</p>
            <p class="item-23-sTs">23</p>
            <p class="item-24-cwF">24</p>
            <p class="item-25-9gH">25</p>
            <p class="item-26-JZB">26</p>
            <p class="item-27-rah">27</p>
            <p class="item-28-cJy">28</p>
          </div>
          <div class="frame-10-xdj">
            <p class="item-29-6E9">29</p>
            <p class="item-30-ELM">30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-18-XqF">
    <div class="item-5-fwT">
      <p class="may-CRb">May</p>
      <div class="frame-5-Lnh">
        <div class="daylabel-JDj">
          <p class="m-ENH">M</p>
          <p class="t-mt1">T</p>
          <p class="w-VJD">W</p>
          <p class="t-dfK">T</p>
          <p class="f-kV3">F</p>
          <p class="s-Fwb">S</p>
          <p class="s-Mzd">S</p>
        </div>
        <div class="dayvariants2024-hob">
          <div class="frame-6-rRb">
            <p class="item-1-m2m">1</p>
            <p class="item-1-iCu">1</p>
            <p class="item-2-FyX">2</p>
            <p class="item-3-zgD">3</p>
            <p class="item-4-wbT">4</p>
            <p class="item-5-tFo">5</p>
          </div>
          <div class="frame-7-RmX">
            <p class="item-6-K6D">6</p>
            <p class="item-7-FEm">7</p>
            <p class="item-8-xey">8</p>
            <p class="item-9-JD3">9</p>
            <p class="item-10-S4M">10</p>
            <p class="item-11-MSD">11</p>
            <p class="item-12-Hqf">12</p>
          </div>
          <div class="frame-8-csw">
            <p class="item-13-wvD">13</p>
            <p class="item-14-heV">14</p>
            <p class="item-15-FR7">15</p>
            <p class="item-16-CLM">16</p>
            <p class="item-17-ipV">17</p>
            <p class="item-18-Gb7">18</p>
            <p class="item-19-Pfj">19</p>
          </div>
          <div class="frame-9-jUh">
            <p class="item-20-f7T">20</p>
            <p class="item-21-ojT">21</p>
            <p class="item-22-A4D">22</p>
            <p class="item-23-6yT">23</p>
            <p class="item-24-ek5">24</p>
            <p class="item-25-z3F">25</p>
            <p class="item-26-LN1">26</p>
          </div>
          <div class="frame-10-UDK">
            <p class="item-27-1j3">27</p>
            <p class="item-28-A69">28</p>
            <p class="item-29-hrm">29</p>
            <p class="item-30-FdP">30</p>
            <p class="item-31-Nxu">31</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-6-iG5">
      <p class="june-Shs">June</p>
      <div class="frame-5-Pd7">
        <div class="daylabel-xAR">
          <p class="m-gs7">M</p>
          <p class="t-Rph">T</p>
          <p class="w-vmT">W</p>
          <p class="t-GaR">T</p>
          <p class="f-1nu">F</p>
          <p class="s-AA1">S</p>
          <p class="s-5Gy">S</p>
        </div>
        <div class="dayvariants2024-1wK">
          <div class="frame-6-N1B">
            <p class="item-1-T2d">1</p>
            <p class="item-2-asw">2</p>
          </div>
          <div class="frame-7-8eZ">
            <p class="item-3-Fz5">3</p>
            <p class="item-4-Kyw">4</p>
            <p class="item-5-Ubw">5</p>
            <p class="item-6-pfo">6</p>
            <p class="item-7-MQq">7</p>
            <p class="item-8-JL5">8</p>
            <p class="item-9-TTs">9</p>
          </div>
          <div class="frame-8-1EV">
            <p class="item-10-XyX">10</p>
            <p class="item-11-HC1">11</p>
            <p class="item-12-dWm">12</p>
            <p class="item-13-Mhf">13</p>
            <p class="item-14-uUH">14</p>
            <p class="item-15-dv5">15</p>
            <p class="item-16-nny">16</p>
          </div>
          <div class="frame-9-8rq">
            <p class="item-17-fbs">17</p>
            <p class="item-18-cGD">18</p>
            <p class="item-19-Y9s">19</p>
            <p class="item-20-gms">20</p>
            <p class="item-21-SFF">21</p>
            <p class="item-22-npu">22</p>
            <p class="item-23-YZB">23</p>
          </div>
          <div class="frame-10-64u">
            <p class="item-24-oV7">24</p>
            <p class="item-25-j7s">25</p>
            <p class="item-26-5Bj">26</p>
            <p class="item-27-pf7">27</p>
            <p class="item-28-mqF">28</p>
            <p class="item-29-L7f">29</p>
            <p class="item-30-66q">30</p>
          </div>
          <p class="item-31-Eiq">31</p>
        </div>
      </div>
    </div>
    <div class="item-7-kx5">
      <p class="july-6FF">July</p>
      <div class="frame-5-EMT">
        <div class="daylabel-NiZ">
          <p class="m-45b">M</p>
          <p class="t-Pdf">T</p>
          <p class="w-jBj">W</p>
          <p class="t-3TK">T</p>
          <p class="f-Pn5">F</p>
          <p class="s-7xy">S</p>
          <p class="s-3bj">S</p>
        </div>
        <div class="dayvariants2024-z1B">
          <div class="auto-group-ezyv-8dB">
            <div class="frame-6-4Wq">
              <p class="item-1-mw3">1</p>
              <p class="item-2-uGZ">2</p>
              <p class="item-3-SXP">3</p>
              <p class="item-4-bQH">4</p>
              <p class="item-5-k2H">5</p>
              <p class="item-6-6bw">6</p>
              <p class="item-7-3n5">7</p>
            </div>
            <div class="frame-7-kwP">
              <p class="item-8-uZP">8</p>
              <p class="item-9-3fb">9</p>
              <p class="item-10-PDf">10</p>
              <p class="item-11-7vM">11</p>
              <p class="item-12-GHT">12</p>
              <p class="item-13-mk1">13</p>
              <p class="item-14-6XP">14</p>
            </div>
          </div>
          <div class="frame-8-eYu">
            <p class="item-15-ahT">15</p>
            <p class="item-16-LAq">16</p>
            <p class="item-17-5eD">17</p>
            <p class="item-18-q7b">18</p>
            <p class="item-19-yjb">19</p>
            <p class="item-20-CsF">20</p>
            <p class="item-21-xLd">21</p>
          </div>
          <div class="frame-9-J9b">
            <p class="item-22-1ph">22</p>
            <p class="item-23-xzq">23</p>
            <p class="item-24-K4h">24</p>
            <p class="item-25-GEq">25</p>
            <p class="item-26-niy">26</p>
            <p class="item-27-8nq">27</p>
            <p class="item-28-5i5">28</p>
          </div>
          <div class="frame-10-dDo">
            <p class="item-29-yoT">29</p>
            <p class="item-30-im3">30</p>
            <p class="item-31-fgH">31</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-8-kBw">
      <p class="august-T6M">August</p>
      <div class="frame-5-zc5">
        <div class="daylabel-Z9P">
          <p class="m-tSZ">M</p>
          <p class="t-2Hs">T</p>
          <p class="w-xhK">W</p>
          <p class="t-Uff">T</p>
          <p class="f-1vV">F</p>
          <p class="s-MzM">S</p>
          <p class="s-uW5">S</p>
        </div>
        <div class="dayvariants2024-485">
          <div class="frame-6-zGd">
            <p class="item-1-7MF">1</p>
            <p class="item-1-S8d">1</p>
            <p class="item-1-yuF">1</p>
            <p class="item-2-8XF">2</p>
            <p class="item-3-gof">3</p>
            <p class="item-4-EqB">4</p>
          </div>
          <div class="frame-7-nbo">
            <p class="item-5-ikM">5</p>
            <p class="item-6-q4H">6</p>
            <p class="item-7-9qf">7</p>
            <p class="item-8-6W1">8</p>
            <p class="item-9-CZ3">9</p>
            <p class="item-10-YN1">10</p>
            <p class="item-11-UmT">11</p>
          </div>
          <div class="frame-8-csf">
            <p class="item-12-vNZ">12</p>
            <p class="item-13-GhK">13</p>
            <p class="item-14-cmB">14</p>
            <p class="item-15-ZwK">15</p>
            <p class="item-16-WrZ">16</p>
            <p class="item-17-4dB">17</p>
            <p class="item-18-p6Z">18</p>
          </div>
          <div class="frame-9-8N9">
            <p class="item-19-GDT">19</p>
            <p class="item-20-RMF">20</p>
            <p class="item-21-mg1">21</p>
            <p class="item-22-KhX">22</p>
            <p class="item-23-rxM">23</p>
            <p class="item-24-1aM">24</p>
            <p class="item-25-wU1">25</p>
          </div>
          <div class="frame-10-5q7">
            <p class="item-26-pnh">26</p>
            <p class="item-27-NZK">27</p>
            <p class="item-28-it5">28</p>
            <p class="item-29-Sp5">29</p>
            <p class="item-30-C2Z">30</p>
            <p class="item-31-8B7">31</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-19-rcu">
    <div class="item-9-iv1">
      <p class="september-rWR">September</p>
      <div class="frame-5-CKP">
        <div class="daylabel-A1K">
          <p class="m-69s">M</p>
          <p class="t-QRT">T</p>
          <p class="w-WzH">W</p>
          <p class="t-3UR">T</p>
          <p class="f-PHP">F</p>
          <p class="s-Kgq">S</p>
          <p class="s-To3">S</p>
        </div>
        <div class="dayvariants2024-DGR">
          <p class="item-1-8PP">1</p>
          <div class="frame-7-TAm">
            <p class="item-2-AL5">2</p>
            <p class="item-3-7FK">3</p>
            <p class="item-4-rTo">4</p>
            <p class="item-5-1Lh">5</p>
            <p class="item-6-MfT">6</p>
            <p class="item-7-fRF">7</p>
            <p class="item-8-R9X">8</p>
          </div>
          <div class="frame-8-2v1">
            <p class="item-9-NU5">9</p>
            <p class="item-10-6us">10</p>
            <p class="item-11-cNR">11</p>
            <p class="item-12-vtu">12</p>
            <p class="item-13-e4D">13</p>
            <p class="item-14-Xth">14</p>
            <p class="item-15-sBs">15</p>
          </div>
          <div class="frame-9-Cjw">
            <p class="item-16-N29">16</p>
            <p class="item-17-haD">17</p>
            <p class="item-18-F5w">18</p>
            <p class="item-19-ZMX">19</p>
            <p class="item-20-W1s">20</p>
            <p class="item-21-eds">21</p>
            <p class="item-22-nEH">22</p>
          </div>
          <div class="frame-10-8J9">
            <p class="item-23-fJ5">23</p>
            <p class="item-24-cDK">24</p>
            <p class="item-25-jYq">25</p>
            <p class="item-26-UmK">26</p>
            <p class="item-27-oHo">27</p>
            <p class="item-28-wQ1">28</p>
            <p class="item-29-tKF">29</p>
          </div>
          <p class="item-30-2gM">30</p>
        </div>
      </div>
    </div>
    <div class="item-10-A1s">
      <p class="october-G4u">October</p>
      <div class="frame-5-zmb">
        <div class="daylabel-YHK">
          <p class="m-TfB">M</p>
          <p class="t-zv1">T</p>
          <p class="w-7Uq">W</p>
          <p class="t-EZT">T</p>
          <p class="f-m3b">F</p>
          <p class="s-JJR">S</p>
          <p class="s-3G1">S</p>
        </div>
        <div class="dayvariants2024-yfT">
          <div class="auto-group-ybjd-iN9">
            <div class="frame-6-SZ3">
              <p class="item-6-NBo">6</p>
              <p class="item-1-H3s">1</p>
              <p class="item-2-crq">2</p>
              <p class="item-3-a2y">3</p>
              <p class="item-4-KFT">4</p>
              <p class="item-5-2ff">5</p>
              <p class="item-6-BYZ">6</p>
            </div>
            <div class="frame-7-vW9">
              <p class="item-7-G4D">7</p>
              <p class="item-8-CTf">8</p>
              <p class="item-9-LZs">9</p>
              <p class="item-10-Fwj">10</p>
              <p class="item-11-C6H">11</p>
              <p class="item-12-KAu">12</p>
              <p class="item-13-TH7">13</p>
            </div>
          </div>
          <div class="frame-8-aMj">
            <p class="item-14-2jX">14</p>
            <p class="item-15-mSD">15</p>
            <p class="item-16-KCq">16</p>
            <p class="item-17-Tpq">17</p>
            <p class="item-18-cSq">18</p>
            <p class="item-19-NB7">19</p>
            <p class="item-20-hjB">20</p>
          </div>
          <div class="frame-9-Fkh">
            <p class="item-21-bZf">21</p>
            <p class="item-22-wdX">22</p>
            <p class="item-23-5jj">23</p>
            <p class="item-24-2ey">24</p>
            <p class="item-25-ZQ1">25</p>
            <p class="item-26-V2m">26</p>
            <p class="item-27-duf">27</p>
          </div>
          <div class="frame-10-yyX">
            <p class="item-28-w9f">28</p>
            <p class="item-29-sp1">29</p>
            <p class="item-30-2S1">30</p>
            <p class="item-31-B41">31</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-11-gWZ">
      <p class="november-DWV">November</p>
      <div class="frame-5-m2D">
        <div class="daylabel-WEh">
          <p class="m-2yj">M</p>
          <p class="t-xcV">T</p>
          <p class="w-6To">W</p>
          <p class="t-Bk9">T</p>
          <p class="f-L7F">F</p>
          <p class="s-UjF">S</p>
          <p class="s-po7">S</p>
        </div>
        <div class="dayvariants2024-aGV">
          <div class="frame-6-j9P">
            <p class="item-1-G9K">1</p>
            <p class="item-2-bBb">2</p>
            <p class="item-1-X5F">1</p>
            <p class="item-2-fhF">2</p>
            <p class="item-3-Quj">3</p>
          </div>
          <div class="frame-7-ZXj">
            <p class="item-4-HyX">4</p>
            <p class="item-5-dnV">5</p>
            <p class="item-6-wHP">6</p>
            <p class="item-7-GqT">7</p>
            <p class="item-8-Pv5">8</p>
            <p class="item-9-LKX">9</p>
            <p class="item-10-sqF">10</p>
          </div>
          <div class="frame-8-QaH">
            <p class="item-11-8WH">11</p>
            <p class="item-12-rx5">12</p>
            <p class="item-13-p8D">13</p>
            <p class="item-14-Zbb">14</p>
            <p class="item-15-K4y">15</p>
            <p class="item-16-4YM">16</p>
            <p class="item-17-pGd">17</p>
          </div>
          <div class="frame-9-xdj">
            <p class="item-18-fo3">18</p>
            <p class="item-19-pfw">19</p>
            <p class="item-20-aQD">20</p>
            <p class="item-21-tvh">21</p>
            <p class="item-22-eey">22</p>
            <p class="item-23-QPF">23</p>
            <p class="item-24-MpH">24</p>
          </div>
          <div class="frame-10-V9o">
            <p class="item-25-RZF">25</p>
            <p class="item-26-aS9">26</p>
            <p class="item-27-vku">27</p>
            <p class="item-28-H5f">28</p>
            <p class="item-29-q7B">29</p>
            <p class="item-30-Bgq">30</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item-12-HUy">
      <p class="december-2Bf">December</p>
      <div class="frame-5-Aof">
        <div class="daylabel-XeD">
          <p class="m-Tnm">M</p>
          <p class="t-zXo">T</p>
          <p class="w-jEV">W</p>
          <p class="t-TRP">T</p>
          <p class="f-oEM">F</p>
          <p class="s-JS1">S</p>
          <p class="s-qwj">S</p>
        </div>
        <div class="dayvariants2024-zpd">
          <p class="item-1-JaR">1</p>
          <div class="frame-7-SAq">
            <p class="item-2-jQq">2</p>
            <p class="item-3-t2q">3</p>
            <p class="item-4-S4M">4</p>
            <p class="item-5-n8D">5</p>
            <p class="item-6-XrV">6</p>
            <p class="item-7-5d7">7</p>
            <p class="item-8-qcH">8</p>
          </div>
          <div class="frame-8-AuT">
            <p class="item-9-ig5">9</p>
            <p class="item-10-2Rs">10</p>
            <p class="item-11-m8Z">11</p>
            <p class="item-12-6gd">12</p>
            <p class="item-13-dwT">13</p>
            <p class="item-14-m25">14</p>
            <p class="item-15-tMb">15</p>
          </div>
          <div class="frame-9-dpy">
            <p class="item-16-NXf">16</p>
            <p class="item-17-vZB">17</p>
            <p class="item-18-g2Z">18</p>
            <p class="item-19-dCh">19</p>
            <p class="item-20-n5b">20</p>
            <p class="item-21-teR">21</p>
            <p class="item-22-EyB">22</p>
          </div>
          <div class="frame-10-PbB">
            <p class="item-23-Kzd">23</p>
            <p class="item-24-UsX">24</p>
            <p class="item-25-Rnm">25</p>
            <p class="item-26-n7X">26</p>
            <p class="item-27-twF">27</p>
            <p class="item-28-3JM">28</p>
            <p class="item-29-b4y">29</p>
          </div>
          <div class="frame-11-w8q">
            <p class="item-30-GS1">30</p>
            <p class="item-31-zso">31</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>