<div style="text-align:center">
    <h1>{{title}}</h1>
    <p>Beyond Visualization Discover the multi-dimensional nature of insights</p>
    <button>Explorer</button>
    <button>Summarize</button>
    <button>Analyze</button>
    <br>
    <br>
    <div>
       <label for="username">Username:</label><br>
       <input type="text" id="username" name="username"><br>
       <label for="password">Password:</label><br>
       <input type="password" id="password" name="password"><br>
       <button (click)="login()">Login</button>
       <!-- <button (click)="forgotPassword()">Forgot Password</button> -->
    </div>
   </div>