.example-card{
    margin-top: 15px;
    width: 40%;
    margin-left: 350px;
}
.heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.example-form{
    margin-top: 30px;
    margin-left: 50px;
}
.example-full-width{
    width: 400px;
}
.buttons{
    margin-left: 45px;
}